.header {
  padding: 0 2rem;
}

.main {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  background-color: white;
  border-radius: 1.25rem;

  > div {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 2.5rem;
  }

  .salesTypeSelector {
    display: flex;
    gap: 1.25rem;
    margin-bottom: 4rem;
  }

  .salesTypes {
    display: flex;
    gap: 1.25rem;
    margin-bottom: 1rem;
    flex-grow: 1;
  }
}
