.button {
  height: 2.5rem;
  font-weight: 500;
  border-radius: 999px;
  border: 0;
  padding: 0 1.5rem;
  color: white;
  cursor: pointer;
  transition: all linear 100ms;

  &:hover {
    filter: brightness(0.9);
  }
}

.primary {
  background-color: var(--primary-400);
}
