.toggleButton {
  display: flex;
  cursor: pointer;

  input {
    display: none;
  }

  label {
    cursor: pointer;
    width: 7.5rem;
    height: 1.375rem;
    background: white;
    border-radius: 2rem;
    position: relative;
    transition: background-color 0.2s ease-in-out;
  }

  .button {
    position: absolute;
    top: 0;
    left: 0;
    width: 2.625rem;
    height: 1.375rem;
    border-radius: 2rem;
    transition: 0.2s ease-in-out;
    background: var(--subtle-gray-200);
  }

  .toggle:checked + label .button {
    left: 100%;
    transform: translateX(-100%);
    background: var(--dark-gray);
  }

  &.violet {
    label {
      background: #e9d9ff;
    }

    .button {
      background: #dabfff;
    }

    .toggle:checked + label .button {
      background: #9447ff;
    }
  }

  &.orange {
    label {
      background: #ffe4cc;
    }

    .button {
      background: #ffd6b3;
    }

    .toggle:checked + label .button {
      background: #ff9d47;
    }
  }

  &.blue {
    label {
      background: #bfe3ff;
    }

    .button {
      background: #99d1ff;
    }

    .toggle:checked + label .button {
      background: #2790e7;
    }
  }

  &.teal {
    label {
      background: #aaecf2;
    }

    .button {
      background: #81dde5;
    }

    .toggle:checked + label .button {
      background: #1fbdcc;
    }
  }

  &.pink {
    label {
      background: #ffd9e4;
    }

    .button {
      background: #ffbfd2;
    }

    .toggle:checked + label .button {
      background: #d43c6a;
    }
  }

  &.gray {
    label {
      background: #e2e8f0;
    }

    .button {
      background: #cbd5e0;
    }

    .toggle:checked + label .button {
      background: #656d75;
    }
  }
}
